*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#md{
    display: inline-block;
    height:80%;
    width:60%;
    background-color:rgb(219, 219, 219) ;
    border-radius: 35px;
    display: flex;
}
#d1{
    height: 100%;
    width: 50%;
    border-radius: 35px;
    background-color: blue;
    
}