*{
    padding: 0px;
    margin: 0px;
}
#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left:10px;
    padding-right:10px;
    box-sizing: border-box;
    justify-content: space-evenly;
}
#hd{
    width: 100%;
    height:55px;
    box-shadow:0px 4px 8px 2px rgb(193, 192, 192);
    font-size: 34px;
    font-weight: 900;
    box-sizing: border-box;
}
#mid{
    display: flex;
    gap: 20px;
    font-size: 24px;
    font-weight: 900;
    box-sizing: border-box;
}
#sn{
    width: 20%;
    height: 500px;
     box-shadow:0px 4px 8px 2px rgb(193, 192, 192); 
}
#ct{
    width: 80%;
    height: 500px;
    box-shadow:0px 4px 8px 2px rgb(193, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around; 
}
.ctn{
     box-shadow:0px 4px 8px 2px rgb(193, 192, 192);
     height: 200px;
     width: 200px;
}
#ft{
    height:55px;
    width: 100%;
        box-shadow:0px 4px 8px 2px rgb(193, 192, 192);
        font-size: 34px;
    font-weight: 900;
    box-sizing: border-box;
}
.c{
    display: flex;
    justify-content: center;
    align-items: center;
}

